@import url(http://fonts.googleapis.com/css?family=Quicksand:400,700,400italic,700italic);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
/**
 * Sky theme for reveal.js.
 * 
 * Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background-color: #fff;
  /*background-image: url("../../img/bg.png");*/
}

.reveal {
  font-family: "Open Sans", sans-serif;
  font-size: 36px;
  font-weight: 200;
  letter-spacing: -0.02em;
  color: #333333;
  background-color: #fff;
}

::selection {
  color: white;
  background: #134674;
  text-shadow: none;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 44px 0;
  color: #333333;
  font-family: "Quicksand", sans-serif;
  line-height: 0.9em;
  letter-spacing: -0.08em;
  text-transform: uppercase;
  text-shadow: none;
}

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}


/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image), a:not(.image) {
  color: #cf1e26;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  -ms-transition: color .15s ease;
  -o-transition: color .15s ease;
  transition: color .15s ease;
}

.reveal a:not(.image):hover, a:not(.image):hover {
  color: #74a7cb;
  text-shadow: none;
  border: none;
}

.reveal .roll span:after {
  color: #fff;
  background: #264c66;
}

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
 /* margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #333333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
  transition: all .2s linear; */
}

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #3b759e;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #cf1e26;
}

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #cf1e26;
}

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #cf1e26;
}

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #cf1e26;
}

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #c4363c;
}

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #c4363c;
}

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #c4363c;
}

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #c4363c;
}

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
}

.reveal .progress span {
  background: #3b759e;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -ms-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -o-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
}


.reveal p {
    line-height: 1.2em;
    margin-bottom: 10px;
}



footer{
  clear:both; 
  font-size:13px; 
  height:57px; 
  display:block; 
  position:absolute; 
  bottom:0; 
  width: 100%;
}

footer div{
  margin:0 auto; 
  text-align: center;
}

footer div img{
  vertical-align: -15px;
}

ul.inline-list{
  list-style: none;
  display: block;
}

ul.inline-list li{
  float:left;
  clear: none;
  width: 168px;
}


ul.inline-list img{
  vertical-align: text-top;
  height: 113px;
}

.samurai-red {
  color: #cf1e26;
}

ul.inline-list-logo {
  list-style: none !important;
  display: block;
}

ul.inline-list-logo li{
  float:left;
  clear: none;
  width: 230px;
  padding-bottom: 20px;
}

ul.inline-list-logo li small{
  line-height: 42px;
}




ul.inline-list-logo img{
  vertical-align: text-top;
  border: 2px solid #fff;
}

ul.inline-list-logo img.liup{
  border: 2px solid #8ea608;
}

small.liup{
  color: #8ea608;
  font-size: 15px; 
  margin-top:10px
}
